@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.MyList-Container {
  width: 90%;
  background-color: #89baf4;
  border-radius: 10px;
  box-shadow: -5px 5px 8px #77a2d4, 5px -5px 8px #9bd2ff;
  height: auto;
  padding: 0.5em;
  border-radius: 35px;
  padding-bottom: 2em;
}

.MyList-Container h2 {
  margin-top: 0.25em;
  color: #f2e9e4;
  font-size: 22px;
}

.MyList-Title {
  text-align: center;
}

.MyList-Text button {
  margin-top: 1em;
  margin-left: 0.6em;
  text-align: left;
  padding-left: 0.5em;
  border-radius: 10px;
  font-size: 18px;
  width: 95%;
  font-weight: bold;
}

.showAccor {
  display: block;
  color: #f2e9e4;
  margin: 0.5em;
  padding: 1.2em;
  border: 2px solid #f2e9e4;
  border-radius: 35px;
}

.hideAccor {
  display: none;
}

.Accor-Country span {
  font-weight: bold;
}

.Accor-City span {
  font-weight: bold;
}

.Accor-Message span {
  font-weight: bold;
}

.Accor-Button button {
  width: 4.3em;
}

.Accor-Image {
  width: 96%;
  height: 15em;
  margin: 0.5em;
  margin-top: 1.5em;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4b/La_Tour_Eiffel_vue_de_la_Tour_Saint-Jacques%2C_Paris_ao%C3%BBt_2014_%282%29.jpg");
  background-size: cover;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .MyList-Container {
    width: 60%;
  }
  .MyList-Container h2 {
    margin-top: 0.5em;
    font-size: 30px;
  }
  .MyList-Text button {
    font-size: 28px;
  }
  .showAccor {
    font-size: 25px;
  }
}
