@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.MyList-Container {
  width: 90%;
  background-color: rgba(137, 196, 244, 0.85);
  border-radius: 10px;
  height: auto;
  padding: 0.5em;
  border-radius: 35px;
  padding-bottom: 2em;
}

.MyList-Container h2 {
  margin-top: 0.25em;
  color: #f2e9e4;
  font-size: 22px;
  font-family: "Permanent Marker", cursive;
}

.MyList-Title {
  text-align: center;
}

.MyList-Text button {
  margin-top: 1em;
  margin-left: 10%;
  text-align: left;
  padding-left: 0.5em;
  border-radius: 10px;
  border: 0px;
  font-size: 18px;
  width: 80%;
  font-weight: bold;
  background-color: #2b2b2b;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  color: white;
  cursor: pointer;
}

.showAccor {
  display: block;
  color: #f2e9e4;
  margin-top: 0.5em;
  margin-left: 13%;
  margin-right: 13%;
  padding: 1.2em;
  border-radius: 35px;
  background-color: #2b2b2b;
}

.hideAccor {
  display: none;
}

.Accor-Country span {
  font-weight: bold;
}

.Accor-City span {
  font-weight: bold;
}

.Accor-Message span {
  font-weight: bold;
}

.Accor-Image {
  width: 96%;
  height: 8em;
  margin-left: 0.3em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4b/La_Tour_Eiffel_vue_de_la_Tour_Saint-Jacques%2C_Paris_ao%C3%BBt_2014_%282%29.jpg");
  background-size: cover;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .MyList-Container {
    width: 60%;
  }
  .MyList-Container h2 {
    margin-top: 0.5em;
    font-size: 30px;
  }
  .MyList-Text button {
    font-size: 28px;
    margin-left: 3.22em;
  }
  .showAccor {
    font-size: 25px;
    margin-left: 4.5em;
    margin-right: 4.5em;
  }
  .Accor-Image {
    height: 12em;
  }
}
